# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Project specific
credentials.json
oec-pec-automation-data.json
oec-pec.txt

scripts
